/* footer */
.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4cccc;
  height: 75px;
}
.site-footer p {
  font-size: 20px;
  font-style: bold;
}
